{% extends('base.html.twig') %}

{% block body %}
    <div class="h-100 row align-items-center justify-content-center">
        <form method="post">
            <div class="form-group">
                <label for="title">Project title</label>
                <input name="title" type="title" class="form-control" id="title" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="groupNumber">Number of groups</label>
                <input name="groupNumber"class="form-control" id="groupNumber" placeholder="Enter group number" value="1">
            </div>
            <div id="groups" style="border: 2px solid black; padding: 10px">
                <div class="group d-flex">
                    <div class="mr-3 d-flex align-items-center">
                        Group 1
                    </div>
                    <div>
                        <label for="numberOfStudents">Max. number of students</label>
                        <input name="groupStudentCount[]" class="form-control" value=1 placeholder="Enter student number">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('create-project') }}
{% endblock %}
